.title{
    font-size: 13px;
    font-weight: bold;
    
}

a:hover {
    background-color: #ffffff;
}

.pAlert {
    font-size: 10px;
}

.hrAlert{
    margin-bottom: 5px;
}

.backAlert {
    background-color: red;
}