* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Palet Colours*/

:root {
  --turquoise: #25c4d8;
  --light-grey: #f2f2f2;
  --shadow: #d7d7d7;
  --white: #ffffff;
  --grey: #b9b9b9;
  --black: #000;
  --yellow: #ffc404;
}

a {
  text-decoration: none;
  color: var(--black);
}

.description {
  color: dimgrey;
  font-size: 14px;
}

a:hover {
  cursor: pointer;
  color: #e51538;
  
}

.cardContainer {
  display: inline-block;
  margin: 10px;
  background-color: #f5f5f5;
  width: 345px;
}

.cardContainer img {
  width: 100%;
  background-color: #f5f5f5;
}

.categoria {
  margin-top: 1rem;
  
}

h6 {
  display: inline-block;
  padding: 0.5rem 0rem;
  font-size: 12px;
  color: #e51538;
  text-decoration: underline;
}

.titulo {
  margin: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.footer-card {
  margin: 10px;
}

.date {
  display: flex;
  justify-content: right;
  color: var(--grey);
  margin: 1rem;
  font-size: 14px;
}

.by {
  margin: auto;
  font-size: 14px;
  color: #b9b9b9;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
