.tags {
    font-size: 12px;
}

.bg-footer {
    background-color: #f3eded;
}

.img-logo-footer {
    background-color: #f3eded;
    width: 50px;
    padding: 10px;
}

.img-logo-footer-whippo {
    background-color: #f3eded;
    width: 200px;
    padding: 10px;
}