/* Palet Colours*/

:root {
  --turquoise: #25c4d8;
  --light-grey: #f2f2f2;
  --shadow: #d7d7d7;
  --white: #ffffff;
  --grey: #b9b9b9;
  --black: #000;
  --yellow: #ffc404;
  --strong-grey: #808080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

hr {
  margin: 3px;
}

.txt-size {
  font-size: 15px;
}

.z-index {
  z-index: 50;
}

.mtS{
  margin-top: 280px;
}

.fondo-transparente {
  background-color: transparent;
}

.bg-publicidad {
  background-color: #e5e3e3;
}

.config-publicidad {
  margin-bottom: 30px;
  color: #808080;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

.config-alert {
  margin-top: 420px;
  margin-left: 1450px;
}